<style>

 #main {
   margin: 25% 0 0 0;
 }

 #main p {
   text-align: center;
   font-size: 3vw;
 }

 .red {
   color: red;
 }
 .blue {
   color: blue;
 }
  
</style>

<div id='main'>
  <p>
    <span class='red'>3</span>d <span class='blue'>co</span>lo<span class='red'>r</span> test
  </p>
</div>
