<div id='vid-ct'>
  <%= video_tag "mine-old-5.webm", loop: true, autobuffer: true, muted: true, autoplay: true, poster: "slug.jpg", id: "vid-ct" %>
</div>

<div class='ascii col-md-12'>
  <pre>
    ...............................................................
    ...............................................................
    ...............................................................
    ...................................*\\*........................
    ..................................;####*.......................
    ................;\\;*............*#####\.......................
    ................;####\;*.......*;\######;......................
    ................*#######\;;;;\\#########\......................
    .................;#######################\.....................
    ..................\###############\\\\####\....................
    ..................\####\\\\######\*\#*;####\*....*****.........
    ..................#####.\#\*#####\*;;;#######;****...*******...
    .................*#####;*;*;#################\********.........
    .....*************###########\;<a href='#' id='nose'>**</a>\############;***********.....
    .....*************\#############\#############\..*********.....
    ...........*******\############################*...............
    ..***************.\############################;...............
    .........**.......\############################;...............
    ..................\#############################;..............
    ..................###############################;.............
    .................;################################;............
    ................*\#################################;...........
    ................\##################################\...........
    ...............*####################################;..........
    ...............;#####################################..........
    ..............*\#####################################*.........
    ..............\##\###################################*.........
    .............;#\#\\\#################################*.........
    ...........*\##\\\\##################################*.........
    ..........*\\\#\\\\#\################################*.........
    ..........;\\\\\\\\\\################################\*........
    ..........\\\\####\\###################################\*......
    ..........\\\\\#########################################;......
  </pre>
</div>

<div id='window'></div>
