<div class='ascii col-md-10'>
  <pre>
    ...............................................................
    ...............................................................
    ...............................................................
    ...................................*\\*........................
    ..................................;####*.......................
    ................;\\;*............*#####\.......................
    ................;####\;*.......*;\######;......................
    ................*#######\;;;;\\#########\......................
    .................;#######################\.....................
    ..................\###############\\\\####\....................
    ..................\####\\\\######\*\#*;####\*....*****.........
    ..................#####.\#\*#####\*;;;#######;****...*******...
    .................*#####;*;*;#################\********.........
    .....*************###########\;<a href='#' id='nose'>**</a>\############;***********.....
    .....*************\#############\#############\..*********.....
    ...........*******\############################*...............
    ..***************.\############################;...............
    .........**.......\############################;...............
    ..................\#############################;..............
    ..................###############################;.............
    .................;################################;............
    ................*\#################################;...........
    ................\##################################\...........
    ...............*####################################;..........
    ...............;#####################################..........
    ..............*\#####################################*.........
    ..............\##\###################################*.........
    .............;#\#\\\#################################*.........
    ...........*\##\\\\##################################*.........
    ..........*\\\#\\\\#\################################*.........
    ..........;\\\\\\\\\\################################\*........
    ..........\\\\####\\###################################\*......
    ..........\\\\\#########################################;......
  </pre>
</div>

<div id='window'></div>
