<div class='ascii'><pre>
...............................................................
...............................................................
...............................................................
...................................*\\*........................
..................................;####*.......................
................;\\;*............*#####\.......................
................;####\;*.......*;\######;......................
................*#######\;;;;\\#########\......................
.................;#######################\.....................
..................\###############\\\\####\....................
..................\####\\\\######\*\#*;####\*....*****.........
..................#####.\#\*#####\*;;;#######;****...*******...
.................*#####;*;*;#################\********.........
.....*************###########\;**\############;***********.....
.....*************\#############\#############\..*********.....
...........*******\############################*...............
..***************.\############################;...............
.........**.......\############################;...............
..................\#############################;..............
..................###############################;.............
.................;################################;............
................*\#################################;...........
................\##################################\...........
...............*####################################;..........
...............;#####################################..........
..............*\#####################################*.........
..............\##\###################################*.........
.............;#\#\\\#################################*.........
...........*\##\\\\##################################*.........
..........*\\\#\\\\#\################################*.........
..........;\\\\\\\\\\################################\*........
..........\\\\####\\###################################\*......
..........\\\\\#########################################;......
</pre>
</div>
